@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary-color: #467AAB;
    --secondary-color: #FB527B;
    --section-heading: 30px;
    --body-text: 24px;
}

#hero-section {
    position: relative;
    color: var(--primary-color);
}

.cta-col {
    position: absolute;
    top: 120px;
}

#hero-section .background-image {
    background-image: url(../images/background-img.svg);
    height: 800px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: right 0 top 0;
}

#hero-section h1 {
    font-size: 60px;
}

.color-variant {
    color: var(--secondary-color);
}

#hero-section h3 {
    font-size: 40px;
}

#hero-section h4 {
    font-size: 20px;
}

#hero-section p, .success-msg {
    font-size: 20px;
    color: #8FABC6;
}

#hero-section #err-duplicate, #hero-section #err-others {
    font-size: 16px;
    color: var(--secondary-color);
    display: none;
}

#hero-section input, #work-04 input {
    font-size: 16px;
    padding: 20px 24px;
    border: 0.5px solid rgba(251, 82, 123, 0.6);
}

#hero-section input[type=email], #work-04 input[type=email] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#hero-section input:focus, #work-04 input:focus {
    box-shadow: none;
}

.mood-btn {
    background-color: var(--secondary-color);
    width: 50%;
    font-size: 16px;
    padding: 20px 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.screen-slider-1, .mood-notif-mobile {
    display: none;
}

.check-in-screen {
    position: absolute;
    top: 120px;
    right: 100px;
    width: 24%;
    animation: float 4s ease-in-out infinite;
}

.player-skin {
    position: absolute;
    top: 400px;
    right: 330px;
    width: 24%;
    animation: float 4s ease-in-out infinite;
}

#work-01 {
    margin-top: 27%;
}

#work-01 h2 {
    font-size: 45px;
    color: var(--primary-color);
    margin-bottom: 140px;
}

h3.how-it-works {
    font-size: var(--section-heading);
    font-weight: 600;
    color: var(--primary-color);
}

p.how-it-works {
    font-size: var(--body-text);
    color: rgba(0, 0, 0, 0.7);
}

.check-in-2, .playlist-scr {
    width: 72%;
}

#work-02 {
    margin-top: -300px;
    padding-bottom: 100px;
    position: relative;
}

#work-02 .background-image {
    background-image: url(../images/background-2.svg);
    height: 1050px;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: left 0 top -100px;
}

#work-02 h3 {
    margin-top: -300px;
}

.mood-notif-01 {
    position: absolute;
    left: 120px;
    top: 530px;
    width: 23%;
}

.mood-notif-02 {
    position: absolute;
    left: 280px;
    top: 800px;
    width: 25%;
    z-index: 10;
}

#work-03 {
    margin-top: 450px;
    position: relative;
}

#work-03 .background-image {
    background-image: url(../images/background-3.svg);
    height: 1200px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right 0 top -90px;
}

#work-03 .row {
    position: absolute;
    top: 100px;
}

#work-04 {
    margin-top: -100px;
    background-image: url(../images/world-map.png);
    height: inherit;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right 20% top -20%;
}

.onboard-screen {
    width: 72%;
}

#work-04 form {
    margin-top: 130px;
}

footer {
    background-color: var(--primary-color);
    margin-top: 130px;
}

.copyright-txt {
    font-size: 20px;
}
/* 
#empty-error {
    color: red;
    margin-bottom: 12px;
    font-size: 16px;
    display: none;
} */

#loading {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

#loading div {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background-color: mediumvioletred;
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate;
}

#loading div:nth-child(2) {
    animation-delay: 0.3s;
}

#loading div:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    to {
        opacity: 0.3;
        transform: translate3d(0, -1rem, 0);
    }
}

@keyframes float {
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media screen and (min-width: 1400px) {
    #hero-section .background-image {
        height: 900px;
    }
}

@media screen and (max-width: 1200px) {
    #hero-section .background-image {
        background-image: url(../images/background-img.svg);
        height: 800px;
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: right 0 top 0;
    }
    
    #hero-section h1 {
        font-size: 48px;
    }
    
    #hero-section h3 {
        font-size: 32px;
    }
    
    #hero-section h4, #hero-section p, .success-msg {
        font-size: 18px;
    }

    .player-skin {
        position: absolute;
        top: 350px;
        right: 200px;
    }

    #work-01 {
        margin-top: 16%;
    }
    
    #work-01 h2 {
        font-size: 40px;
        margin-bottom: 140px;
    }

    #work-02 {
        margin-top: -18%;
    }

    #work-02 .background-image {
        background-size: 30%;
        background-position: left 0 top -12%;
    }

    h3.how-it-works {
        font-size: 26px;
    }
    
    p.how-it-works {
        font-size: 20px;
    }

    .mood-notif-01 {
        left: 10%;
        top: 24%;
    }
    
    .mood-notif-02 {
        left: 22%;
        top: 40%;
    }

    #work-02 h3 {
        margin-top: -650px;
    }

    #work-03 {
        margin-top: -100px;
    }

    #work-03 .background-image {
        background-image: url(../images/background-3.svg);
        height: 1200px;
        background-size: 35%;
        background-position: right 0 top -50px;
    }
    
    #work-03 .row {
        position: absolute;
        top: 100px;
    }

    #work-04 {
        margin-top: -300px;
        background-position: right 30% top -30%;
    }

    .copyright-txt {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    #hero-section {
        margin-top: -40px;
    }

    .container {
        padding: 0 25px;
    }

    #hero-section h1 {
        font-size: 48px;
    }

    #hero-section h3 {
        font-size: 25px;
    }

    #hero-section h4 {
        font-size: 16px;
    }

    .cta-col {
        position: relative;
    }

    #hero-section .background-image {
        display: none;
    }

    #work-01 h2 {
        margin-top: 130px;
        margin-bottom: 50px;
        font-size: 30px;
    }

    #hero-section input, #work-04 input {
        padding: 10px 18px;
    }

    .check-in-screen {
        display: none;
    }
    
    .player-skin {
        display: none;
    }

    .screen-slider-1 {
        display: block;
        margin-top: 190px;
    }

    .mood-notif-mobile {
        display: block;
        margin-top: 30px;
    }

    .screen-slider-1 img, .mood-notif-mobile img {
        width: 260px;
    }

    h3.how-it-works {
        text-align: center;
        font-size: 25px;
    }

    p.how-it-works {
        text-align: center;
        font-size: 18px;
    }

    .check-in-2, .playlist-scr, .onboard-screen {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        width: 80%;
        max-width: 260px;
    }

    #work-02 .background-image, #work-03 .background-image {
        display: none;
    }

    #work-03 {
        margin-top: 0px;
    }

    #work-04 {
        margin-top: 220px;
    }

    #work-04 form {
        display: none;
    }

    #work-04 .row {
        flex-direction: column-reverse;
    }

    #work-02 h3 {
        margin-top: 170px;
    }

    .mood-notif-01, .mood-notif-02 {
        display: none;
    }

    #work-03 .row {
        position: relative;
    }

    #work-02 {
        padding-bottom: 10px;
    }

    #work-04 {
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        margin-top: 60px;
    }
}